html{
    background-color: #E1E2E1;
}

.cabecalho{
    padding: 10px 5px;
    background-color: rgb(200, 20, 20);
}

.cabecalho .logo{
    display: inline-block;
}

.cabecalho nav{
    float: right;
}

.cabecalho nav li{
    display: inline-block;
    padding: 15px;
}

main{
    background-color: white;
    padding: 30px;
    min-width: 320px;
    max-height: 900px;
    margin: 0 auto;
}

main .info{
    font-size: 18px;
}

main p{
    font-size: 16px;
}

.image img{
    width: 100%;
}